*{
    box-sizing: border-box;
}

body {
    margin: 0;
  font-family: "Rubik", sans-serif;
}

.border {
    border: 1px solid red;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 248px;
    height: 100%;
    padding:40px 10px 30px 10px;
    background-color: #9862CA;
    transition: all 0.35s;
}

.sidebar-header{
width: 100%;
margin-bottom: 16px;
color: white;
display: flex;
}

.logo-img {
    width: 38px;
    min-height: 38px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 10px;
}

.logo-img:hover{
   transform: scale(1.5); 
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 0;
}


.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border: 24px;
    line-height: 1;
    transition: all 0.6s;
}

.sidebar button:hover > span {
    width: 248px;
    margin-left: -10px;
    background: rgba(152, 88, 212, 0.8);
}

.sidebar button i {
    position: relative;
    font-size: 30px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;
}

.sidebar > nav {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

p {
    margin-left: 15px;
}

.selecionado {
    transition: 0.9s;
    width: 248px;
    background: rgba(128,63,187, 0.8);
    margin-left: -10px;
}

@media (width < 920px){
    .sidebar {
        width: 70px;
    }

    .sidebar button > span {
        width: 50px;
        margin-left: 5px;

    }

    .sidebar button > span > span {
        opacity: 0;
        visibility: hidden;
    }

    .main {
        margin-left: 75px;
        transition: margin 0.4s;
    }

    .selecionado {
        width: 70px;
        background: rgba(128,63,187, 0.8);
        margin-left: -15px;
        transition: 0.6s;
    }

}